doctype html
html
	head
		title Cloud Foundry Scale Demo
		link(href='css/bootstrap.min.css', rel='stylesheet', media='screen')
	body
		.container
			.hero-unit
				h1 Cloud Foundry Scale Demo
				p
					| Powered by
					a(href='http://www.pivotal.io') Pivotal
					| !
			a.btn.btn-danger.btn-large(href='/killSwitch') Kill Switch
			h2 App Instance Info:
			table.table.table-striped.table-hover
				tr
					td
						strong App Name
					td=app_info.application_name
				tr.info
					td
						strong Instance
					td=app_info.instance_index
				tr
					td
						strong Memory Allocated
					td=limits.mem
				tr
					td
						strong Disk Allocated
					td=limits.disk
				tr
					td
						strong Warden Container IP
					td=address
				tr
					td
						strong Warden Container Port
					td=app_info.port
				tr.info
					td
						strong Requests Serviced
					td=reqCount
				tr
					td
						strong Warden Container Started At
					td=app_info.started_at
				tr
					td
						strong VCAP_SERVICES
					td(style='word-break:break-all;')
						pre.=services
			p(style='text-align: center')
				img(src='img/LOGO_CloudFoundry_Large.png')
		script(src='js/jquery.min.js')
		script(src='js/bootstrap.min.js')

